.text-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.text {
  width: 85%;
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: var(--black);
  margin-bottom: 16px;
}
.text-sub {
  width: 85%;
  text-align: left;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: var(--black);
  margin-top: 12px;
}
.input-container {
  width: 85%;
  border-bottom: var(--blackbrown) solid 1px;
}
.input-sub {
  width: 100%;
  text-align: left;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: var(--blackbrown);
  margin-top: 12px;
}
.input {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
  margin: 5px;
}
.text-area {
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  border: none;
  background: none;
  outline: none;
  margin: 5px;
  white-space: pre-wrap;
  resize: none;
}
.text-area::placeholder {
  color: var(--brown);
}
.btn-container {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
}
.btn-container-solo {
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 15px;
}
.btn-main {
  width: 85%;
  height: 80px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}
.btn-main:hover {
  cursor: pointer;
}
.btn-main:active {
  transform: translateY(4px);
  box-shadow: inset 12px 12px 5px rgba(0, 0, 0, 1);
}
.btn-sub {
  width: 85%;
  height: 80px;
  border-radius: 12px;
  border: var(--black) solid 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f4ee;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  color: var(--black);
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

.btn-sub:hover {
  cursor: pointer;
}
.btn-sub:active {
  transform: translateY(4px);
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.25);
}
.info-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.jsx-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.scroll-container {
  width: 100%;
  overflow-y: auto;
}

.modal-text {
  font-size: 20px;
  color: #797979;
}
.modal-number-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 70px;
  margin: 5px 0 10px 0;
}
.modal-number-container:active {
  background-color: #c5c5c5;
}
.modal-number-icon {
  padding: 8px;
  background-color: #b1b1b1;
  border-radius: 50%;
}
.modal-number-text {
  font-size: 20px;
  font-weight: 500;
  margin-left: 15px;
}
.modal-btn {
  font-size: 18px;
  color: #498bf5;
}
.iframe-coupang {
  width: 100%;
  height: 100%;
}
.card-list {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
}
.card {
  font-size: 20px;
  font-weight: 500;
  width: 100%;
  min-height: 45px;
  border-bottom: var(--black) solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f4ee;
  filter: drop-shadow(0px -2px 2px rgba(0, 0, 0, 0.25));
  color: var(--black);
}
.card:active {
  background-color: rgb(201, 201, 201);
}
