.landing__text-container {
  width: 85%;
  margin: auto auto;
  line-height: 36px;
  text-align: left;
}

.landing__text {
  font-weight: bold;
  font-size: 28px;
  color: var(--brown);
}
.landing__text-sub {
  font-weight: 500;
  font-size: 22px;
  color: var(--blackgrey);
}

.landing__btn-container {
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
}

.landing__btn {
  width: 85%;
  height: 50px;
  border-radius: 12px 12px 12px 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  filter: drop-shadow(6px 4px 4px rgba(0, 0, 0, 0.25));
  color: white;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  z-index: 10;
}
.landing__btn:hover {
  cursor: pointer;
}
.landing__btn:active {
  transform: translateY(4px);
  box-shadow: inset 12px 12px 5px rgba(0, 0, 0, 1);
}

.landing__img {
  width: 200px;
}

.landing__gif-container {
  position: relative;
  width: 270px;
  height: 433px;
  background: #ffffff;
  border: 8px solid #010101;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px 30px 0 0;
  border-bottom: none;
}
.landing__gif {
  width: 254px;
  height: 425px;
  border-radius: 22px 22px 0 0;
}
.landing__gif-btn {
  position: absolute;
  top: 50px;
  left: -14px;
  width: 6px;
  height: 40px;
  background: #010101;
}
.landing__gif-btn.second {
  top: 100px;
}
